.login-main {
    position: absolute;
    width: 859px;
    height: 337px;
    left: 50%;
    top: 20%;
    margin-left: -421px;
    background-image: url(../image/login/main.png);
    background-repeat: no-repeat;
}

.login-main .top {
    position: absolute;
    width: 336px;
    height: 337px;
    right: 75px;
    background-image: url(../image/login/login_bg.png);
    background-repeat: no-repeat;
    z-index: 1;
}

.login-main .top ul {
    margin: 80px auto;
    width: 203px;
    padding: 0;
}

.login-main .top ul li {
    height: 26px;
    list-style: none;
    margin: 3px 0;
}

.login-main .top ul li input, .login-main .top ul li select {
    width: 148px;
    margin: 0;
    padding: 1px 0;
    background-color: white;
    border: 1px #abadb3 solid;
    cursor: auto;
}

.login-main .top ul li a {
    display: block;
    height: 26px;
    width: 113px;
    margin: 0 auto;
}

.login-main .top ul .error {
    text-align: center;
    color: red;
    font-weight: bold;
}

.login-main .top ul li #login {
    height: 52px;
    width: 113px;
    margin: 0 auto;
    display: block;
    background-image: url(../image/login/login_btn.png);
    background-repeat: no-repeat;
    background-position: center top;
    border: none;
    background-color: Transparent;
}

.login-main .top ul li #login:active {
    background-position: center center;
}

.login-main .top ul li #login.logining {
    background-position: center bottom;
}

.login-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10%;
    font-size: 14px;
    color: #ffffff;
}

.login-footer a{
    text-decoration: none;
    color: #ffffff;
}

.login-footer a:hover {
    font-weight: bolder;
    color: #CECDCD;
}

.login-footer .top {
    width: 85px;
    margin: 0 auto;
}

.login-footer .top span {
    width: 40px;
    height: 40px;
    background-image: url(../image/login/user_manual.png);
    background-repeat: no-repeat;
    margin: 0 auto;
    display: block;
    margin-bottom: 5px;
}

.login-footer .bottom {
    width: 688px;
    margin: 0 auto;
    text-align: center;
    white-space: nowrap;
}
