<div class="row" style="margin-bottom: 20px;">
    <div class="col-xs-2 text-right" ng-if="user.level == 4" ng-controller="modal_ctrl">
        <button type="button" class="btn btn-primary" ng-click="open('add')">
            新增
        </button>
    </div>
    <div class="col-xs-2">
        <div class="input-group">
            <span class="input-group-addon">市级</span>
            <select class="form-control" ng-model="city.code">
                <option ng-repeat="city in city.data" ng-selected="city.code == city.code" value="{{city.code}}">
                    {{city.code.name}}
                </option>
            </select>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="input-group">
            <span class="input-group-addon">县级</span>
            <select class="form-control" ng-model="county.code">
                <option ng-repeat="county in county.data" ng-selected="county.code == city.code" value="{{county.code}}">
                    {{city.code.name}}
                </option>
            </select>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="input-group">
            <span class="input-group-addon">水利站</span>
            <input type="text" ng-model="conservancy_station" class="form-control" typeahead-on-select="station_selecting($item)"
                 typeahead-loading="loadingLocations" typeahead="_this for _this in get_stations($viewValue)"/>
            <i ng-show="loadingLocations" class="input-group-addon glyphicon glyphicon-refresh"></i>
            <div ng-show="no_results" class="input-group-addon">
                <i class="glyphicon glyphicon-remove"></i> 没有找到
            </div>
        </div>
    </div>
    <div class="col-xs-2">
        <button type="button" class="btn btn-primary" ng-click="search()">
            搜索
        </button>
    </div>
</div>
<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr role="row">
                <th>

                </th>
                <th>
                    状态
                </th>
                <th>
                    市级
                </th>
                <th>
                    县级
                </th>
                <th>
                    水利站
                </th>
                <th>
                    验收报告
                </th>
                <th>
                    申报资料
                </th>
                <th>
                    验收卡
                </th>
                <th>
                    上报日期
                </th>
                <th>
                    备注
                </th>
            </tr>
            </thead>
            <tbody>
            <tr><!--ng-repeat="file in search.result"-->
                <td>
                    <div class="btn-group btn-group-xs">
                        <button type="button" class="btn btn-primary" ng-controller="modal_ctrl" ng-click="open('modify')">修改</button>
                        <button type="button" class="btn btn-success">报送</button><!--县级保存后显示 1 或 市级退回后 2-->
                        <button type="button" class="btn btn-success">退回</button><!--县级报送后显示 3-->
                    </div>
                    <div class="btn-group btn-group-xs">
                        <button type="button" class="btn btn-primary">删除</button><!--县级保存后显示 1 或 市级退回后 2-->
                        <button type="button" class="btn btn-success">备案</button><!--县级报送后显示 3-->
                        <button type="button" class="btn btn-success">预览</button>
                    </div>
                </td>
                <td>状态</td>
                <td>市级</td>
                <td>县级</td>
                <td>水利站</td>
                <td>
                    <a>验收报告</a>
                </td>
                <td>
                    <a>申报资料</a>
                </td>
                <td>
                    <a>验收卡</a>
                </td>
                <td>上报日期</td>
                <td>备注</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>