<div class="row" style="margin-bottom: 20px;">
    <div class="col-xs-2 text-right" ng-class="{'col-xs-offset-2':user.level == 4}" ng-if="user.level == 4" ng-controller="modal_ctrl">
        <button type="button" class="btn btn-primary" ng-click="open('add')">
            新增
        </button>
    </div>
    <div class="col-xs-2" ng-if="user.level == 2">
        <div class="input-group">
            <span class="input-group-addon">市级</span>
            <select class="form-control" ng-model="city.code">
                <option ng-repeat="city in city.data" ng-selected="city.code == city.code" value="{{city.code}}">
                    {{city.code.name}}
                </option>
            </select>
        </div>
    </div>
    <div class="col-xs-2" ng-if="user.level < 4">
        <div class="input-group">
            <span class="input-group-addon">县级</span>
            <select class="form-control" ng-model="county.code">
                <option ng-repeat="county in county.data" ng-selected="county.code == city.code" value="{{county.code}}">
                    {{city.code.name}}
                </option>
            </select>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="input-group">
            <span class="input-group-addon">水利站</span>
            <input type="text" ng-model="conservancy_station" class="form-control" typeahead-on-select="station_selecting($item)"
                 typeahead-loading="loadingLocations" typeahead="_this for _this in get_stations($viewValue)"/>
            <i ng-show="loadingLocations" class="input-group-addon glyphicon glyphicon-refresh"></i>
            <div ng-show="no_results" class="input-group-addon">
                <i class="glyphicon glyphicon-remove"></i> 没有找到
            </div>
        </div>
    </div>
    <div class="col-xs-2">
        <button type="button" class="btn btn-primary" ng-click="search.from_svr()">
            搜索
        </button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr role="row">
                <th>

                </th>
                <th>
                    状态
                </th>
                <th>
                    市级
                </th>
                <th>
                    县级
                </th>
                <th>
                    水利站
                </th>
                <th>
                    验收报告
                </th>
                <th>
                    申报资料
                </th>
                <th>
                    验收卡
                </th>
                <th>
                    上报日期
                </th>
                <th>
                    备注
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="_this in search.result">
                <td>
                    <div class="btn-group btn-group-xs">
                        <button type="button" class="btn btn-primary" ng-controller="modal_ctrl" ng-click="open('modify')">修改</button>
                        <button type="button" class="btn btn-success">报送</button><!--县级保存后显示 1 或 市级退回后 2-->
                        <button type="button" class="btn btn-success">退回</button><!--县级报送后显示 3-->
                    </div>
                    <div class="btn-group btn-group-xs">
                        <button type="button" class="btn btn-primary">删除</button><!--县级保存后显示 1 或 市级退回后 2-->
                        <button type="button" class="btn btn-success">备案</button><!--县级报送后显示 3-->
                        <button type="button" class="btn btn-success">预览</button>
                    </div>
                </td>
                <td>{{_this.D02}}</td>
                <td>{{_this.DD3}}</td>
                <td>{{_this.DD4}}</td>
                <td>{{_this.DD2}}</td>
                <td>
                    <a ng-click="download(_this.D04,_this.D07)">{{_this.D04}}</a>
                </td>
                <td>
                    <a ng-click="download(_this.D05,_this.D08)">{{_this.D05}}</a>
                </td>
                <td>
                    <a ng-click="download(_this.D06,_this.D09)">{{_this.D06}}</a>
                </td>
                <td>{{_this.D03}}</td>
                <td>{{_this.D10}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>